/*
Name: David Posso
Date Created: 9/16/2018
Most recent revision: 9/23/2018
*/

header, footer {
	text-align: center;
}


body {

	margin: 0 auto;
}

h1 {
	font-family: monospace, serif;
}

.pageContent {
	background-color: #D2F4CE;
	padding: 25px 0px 15px 0px;
}

nav a:visited {
	color: #007900;
}

nav a:hover {
	font-weight: bold;
}

nav a:active {
	text-decoration: none; /*Not quite right yet*/
}

.description {
	margin: auto;
	width: 35%;
}

nav .btn {
	background-color: #d2f4ce;
	color: white;
}
nav {
	border-top: thin #286122 solid;
	border-bottom: thin #286122 solid;
	padding-top: 10px;
	padding-bottom: 10px;
}

form {
	padding-top: 35px;
	padding-bottom: 35px;
}

footer{
	border-top: thin #286122 solid;
}

h4{
	color: #ff901f;
}
